
FamilyStatistics/.vs/FamilyStatistics/v16/.suo
FamilyStatistics/.vs/FamilyStatistics/v16/Server/sqlite3/db.lock
FamilyStatistics/.vs/FamilyStatistics/v16/Server/sqlite3/storage.ide
FamilyStatistics/.vs/FamilyStatistics/v16/Server/sqlite3/storage.ide-shm
FamilyStatistics/.vs/FamilyStatistics/v16/Server/sqlite3/storage.ide-wal
FamilyStatistics/FamilyStatistics.sln
FamilyStatistics/FamilyStatistics/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FamilyStatistics/FamilyStatistics/obj/Debug/FamilyStatistics.csproj.CoreCompileInputs.cache
FamilyStatistics/FamilyStatistics/obj/Debug/FamilyStatistics.csprojAssemblyReference.cache
FamilyStatistics/FamilyStatistics/.vs/FamilyStatistics/v16/Server/sqlite3/storage.ide
FamilyStatistics/FamilyStatistics/.vs/FamilyStatistics/v16/Server/sqlite3/db.lock
